.indicadores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  width: 110%;

  
  &__item {
    background-color: ghostwhite;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 22%; 

    margin-bottom: 20px;

    
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      
      &-titulo {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: #8e8ea1;
        margin-bottom: 10px;
      }

      
      &-estado {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
    
    &-icono {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: rgb(46, 126, 126);

      &-imagen {
        width: 60px;
        height: 60px;
      }
    }
  }
}
