<div class="container">
  <div class="container__fondo">
    <div class="container__Izquierdo">
    
       <div class="container__Izquierdo-iniciar"><h1><strong>Iniciar sesión</strong></h1></div>
       <div class="container__Izquierdo-nos"><h6>Nos alegra tenerte vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma</h6></div>
       <div class="container__Izquierdo-monitoreo"><h5>Monitoreo integral</h5></div>
       <div class="container__Izquierdo-monitoreos"><h6>Administra monitoreo multiples plantas de forma centralizada</h6></div>
       <br>
       <div class="container__Izquierdo-notificaciones"><h5>Notificaciones en tiempo real</h5></div>
       <div class="container__Izquierdo-notificacioness"><h6>Recibí notifiaciones en tiempo real sobre las mediciones</h6></div>
       
    </div>
  </div> 
<div class="container__Derecho">
      <div><strong><h2>Portal de monitoreo</h2></strong></div>
       <div><strong><h4>Iniciar sesión</h4></strong></div>
 
       <br>
      <form [formGroup]="usuarios">

          <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input formControlName= "email" type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
            <div class="alert alert-danger mt-2" [hidden]="this.usuarios.get('email')?.valid">
            
              <span *ngIf="this.usuarios.get('email')?.errors?.['required']">
               El email es obligatorio
              </span>

              <span *ngIf="this.usuarios.get('email')?.errors?.['email']">
               El email tiene que ver valido
              </span>

             </div>
          <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input formControlName= "password" type="password" name="password" class="form-control" id="exampleInputPassword1"></div>
          
          <div class="alert alert-danger mt-2" [hidden]="this.usuarios.get('password')?.valid">

            <span *ngIf="!this.usuarios.get('password')?.hasError('required')">
              - Se requiere una contraseña valida
            </span>
            <span *ngIf="!this.usuarios.get('password')?.hasError('minlength')">
              - Se requieren 8 carácteres o más
            </span>

          </div>  
             
          <div id="emailHelp" class="form-text">¿Olvidaste tu contraseña? <button (click)="muestreUsuario()" type="submit" [disabled]="usuarios.invalid || usuarios.untouched" class="btn btn-info">Iniciar sesión</button></div>

         
          
          
          <div id="emailHelp" class="form-text">Protegido por reCAPTCHA y sujeto a la <span class="green" > Politica de Privacidad </span>y <span class="green">Condiciones.</span></div>

      </form>  
    </div>
</div>  
