<div class="container">
    
  <div class="container__Izquierdo">
   <div class="container__Izquierdo-item">
     <div class="Titulo1"><h1>Iniciar sesión</h1></div>
     <div class="Titulo__secundario1"><h6>Nos alegra tenerte vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma</h6></div>
      <div class="texto_A"><h5>Monitoreo integral</h5></div>
       <div class="texto_B"><h6>Administra monitoreo multiples plantas de forma centralizada</h6></div>
       <div class="texto_A"><h5>Notificaciones en tiempo real</h5></div>
       <div class="texto_B"><h6>Recibí notifiaciones en tiempo real sobre las mediciones</h6></div>
      </div>
    </div>
  <div class="container__Derecho">
      <div class="titulo2">Portal de monitoreo</div>
       <div class="titulo__secundario2">Iniciar sesión</div>

      <form>

          <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
         </div>
          <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
</div>  